
footer {
   text-align: center;
   padding: 10px;
   background: rgb(127, 191, 109);
   background: linear-gradient(180deg, rgba(127, 191, 109, 1) 0%, rgba(49, 97, 66, 1) 42%, rgba(4, 8, 5, 0.8548012955182073) 97%);
}

div h1 {
   font-size: 2rem;
}

.footer-pagina {
   color: white;
   display: flex;
   flex-direction: column;
}

footer .footer-copyright {
   margin: 0.25rem;
   font-size: 0.6rem;
}

footer .icon-footer {
   width: 2.3rem;
}

footer .icon-footer:hover {
   filter: drop-shadow(3px 3px 3px rgba(247, 244, 244, 0.7));
}

.footer-redes ul {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   text-decoration: none;
   padding: 0;
}

footer .items-footer {
   list-style: none;
   display: flex;
   justify-content:space-around;
}

.items-footer li {
   padding: 0.5rem;
   
}

.datos-footer {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items:center;
}

/* ?RESPONSIVE */

@media screen and (min-width: 768px) {

   .footer-pagina {
      display: flex;
      flex-direction: row;
      padding: 1.5rem;
   }

   .footer-redes {
      display: flex;
      align-items: center;
   }

   footer .items-footer {
      display: flex;
      justify-content:flex-start;
   }  

   footer .icon-footer {
      width: 3rem;
   }
}

@media screen and (min-width: 992px) {

   .footer-pagina {
      padding: 2rem;
   }

   .datos-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
   }

   .datos-footer>h1 {
      margin: 0;
   }

   .datos-footer>p {
      margin: 0;
   }

   .items-footer {
      margin: 0;
   }
}