/* Paleta {
    color: #058027;
    color: #00784B;
    color: #006E62;
    color: #00626C;
    color: #005567;
    color:#2F4858;

    color:#3E4A3D;
    color:#A1AFA0;
} */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
    background-image: url(/img/fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*! *ENCABEZADO - BARRA DE NAVEGACION */

/* fondo degradado para el encabezado */
header {
    background-image: linear-gradient(to top right, #7eef9e, #007652, #006869, #00586a, #2f4858);
    width: 100%;
    margin: auto;
    box-shadow: 0px 15px 24px -4px rgba(0, 0, 0, 0.75);
}

/* tamano de logo y posicion en el contenedor */
h1 .logo-header {
    width: 12rem;
    height: auto;
    position: relative;
}

div .container-header {
    width: 960px;
    max-width: 100%;
    padding: 1.25rem;
    margin: 0 auto;
}


.cuerpo-header .container-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

nav .cuerpo-nav-lista {
    margin: 1rem 0 .5rem;
    text-align: center;
}

.cuerpo-nav li {
    display: inline;
    align-items: flex-end;
}

ul .nav-items {
    display: inline-block;
    padding: 0.3rem;
    margin: 0.3rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
    text-decoration: none;
    color: #9eda9a;
    text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);
}

nav .nav-items:hover {
    cursor: pointer;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2.5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 250ms;
}

@media (min-width: 960px) {
    .cuerpo-header .container-header {
        justify-content: space-between;
    }
}

/* *PIE DE PAGINA */

footer {
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(119, 212, 145, 0.438), rgba(0, 118, 83, 0.5), #00586a, #123348);
    border-radius: 0.2rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(15px);
    border: 0.5px solid rgba(255, 255, 255, 0.27);
}

div h1 {
    font-size: 2rem;
}

.footer-pagina {
    color: white;
}

footer .footer-copyright {
    margin: 0.25rem;
    font-size: 0.6rem;
}

footer .icon-footer {
    width: 2.3rem;
}

footer .icon-footer:hover {
    filter: drop-shadow(3px 3px 3px rgba(247, 244, 244, 0.7));
}

.footer-redes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-decoration: none;
}

footer .items-footer {
    list-style: none;
}

.items-footer li {
    padding: 1rem;
}

/* *BLOQUE PRINCIPAL PAGINA INICIO*/

/* * TITULO PRICIPAL */

main .titulo-principal {
    font-size: 2.5rem;
    color: aliceblue;
    text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);
    margin: 1rem 0.5rem;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

main .bloque-principal {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    margin: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div .imagen-principal {
    position: relative;
    margin: 1rem;
    width: 35rem;
    border-radius: 1rem;
}

div .imagen-principal:hover {
    transition: 250ms;
    box-shadow: -1px -1px 12px 2px rgba(255, 255, 255, 0.51);
}


.parrafo-principal {
    position: relative;
    font-size: 1.5rem;
    text-align: justify;
    padding: 1.5rem 3rem;
}

div .subtitulo-principal {
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
}

/* * VIDEO PAGINA ENTRENAMIENTOS */

.video-container {
    display: flex;
    padding: 1.5rem;
}

.video-entrenamientos {
    margin: 1rem;
}

section .video-enlace {
    box-shadow: 1px 3px 10px  rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}

.video-enlace:hover {
    transition: 100ms;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}




/* *TABLA - PAGINA EVENTOS */


.tabla-eventos {
    border-spacing: 1rem;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
}

th,td {
    border: #123348 0.1rem solid;
    padding: 0.5rem;
    text-align: center;
}

.encabezado-tabla {
    padding: 0.5rem;
    text-align: center;
    background: rgba(4, 34, 8, 0.684);
    box-shadow: 0 10px 15px rgba(14, 49, 8, 0.806);
    color: white;
    margin: 3rem;
}

caption {
    color: #123348;
    font-style: italic;
    text-align: left;
    font-size: 0.8rem;
    padding: 0.2rem;
}

table .cuerpo-tabla {
    background-color: rgba(235, 246, 235, 0.7);
}

/* * FORMULARIO - PAGINA MAS INFORMACION */

form {
    padding: 1.2rem;
    margin: 1.2rem;
    background: rgba(117, 247, 132, 0.511);
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(14, 49, 8, 0.806);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    margin: 3rem;
}

form label, form legend {
    display: block;
    font-size: 1.5rem;
    margin: 10px;
    padding: 5px;
}

.input-padron {
    display: block;
    margin: 0.5rem;
    padding: 0.6rem;
    width: 50%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.6);
}

.checkbox {
    margin: 20px 5px;
}

.enviar {
    width: 30%;
    padding: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    background: #007652;
    border-radius: 10px;
    transition: 1s all;
    cursor:pointer;
    align-items: center;
}

.enviar:hover {
    background: #00586a;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.6);
}

fieldset .opciones-informacion {
    padding: 0.5rem;
    margin: 0.3rem;
}
