/* Paleta {
    color: #058027;
    color: #00784B;
    color: #006E62;
    color: #00626C;
    color: #005567;
    color:#2F4858;

    color:#3E4A3D;
    color:#A1AFA0;
} */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
    /* background-image: url(/img/pexels-archie-binamira-913215\ \(1\).jpg); */
}

/* *ENCABEZADO - BARRA DE NAVEGACION */

header {
    background-image: linear-gradient(to top right, #7eef9e, #007652, #006869, #00586a, #2f4858);
    width: 100%;
    margin: auto;
}

h1 .logo-header {
	width: 10rem;
    height: auto;
    position:relative;
}

div .container-header {
    width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.cuerpo-header .container-header {
    display: flex;
	align-items: center;
	justify-content:flex-start;
	flex-wrap: wrap;
}

nav .cuerpo-nav-lista {
    margin: 1em 0 .5em;
	text-align: center;
}

.cuerpo-nav li {
	display: inline;
    align-items: flex-end;
}

ul .nav-items {
    display: inline-block;
    padding: 0.3rem;
    margin: 0.3rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    color:#9eda9a;
}

nav .nav-items:hover {
    cursor: pointer;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2.5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

@media (min-width: 960px) {
	.cuerpo-header .container-header {
		justify-content: space-between;
	}
}

/* *TITULO PRINCIPAL */









