
//!DESCRIPCION PAGINA

.descripcion-container {
  @include container-flex (flex, center, column);

  text-align: center;
  align-items: center;

  padding: 0.2rem;

  .title-principal {
    @include title-principal;
    margin: 1rem 0rem 0.3rem 0;
  }

  .descripcion-eslogan {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-style: italic;
    width: 100%;
    color: rgb(3, 57, 3);
    padding-bottom: 0.3rem;
  }

    .texto-descripcion {
      width: 65%;
      margin: 0.5rem 2rem;
      padding: 0.5rem;
      color: rgb(1, 8, 86);

      background: rgba(154, 211, 255, 0.39);
      border-radius: 3px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(154, 211, 255, 0.23);

      p {
      padding: 0.5rem;
      }
    }
}

//!CARRUSEL

.carousel-container {
  position:relative;

  .carousel {
    margin: 1rem;
    width: 80%;
  
    .carousel-caption {
      padding: 0.8rem;

      background: rgba(67, 198, 141, 0.45);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(67, 198, 141, 0.3);
  
      .carousel-caption-title {
        color: black;
      }
  
      p {
        color: white;
        font-size: 1.1rem;
      }
    }
  }
}
