
//!DESCRIPCION PAGINA

.descripcion-container {
  @include container-flex (flex, center, column);

  text-align: center;
  align-items: center;

  padding: 0.2rem;

  .title-principal {
    @include title-principal;
    margin: 1rem 0rem 0.3rem 0;
  }

  .descripcion-eslogan {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-style: italic;
    width: 100%;
    color: $color-text;
  }

  .texto-descripcion {
    width: 65%;
    padding: 0 3rem;
    color: white;
  }
}

//!CARRUSEL

