// HEADER - ENCABEZADO
.navbar {
  font-family: $font-title;
  background-image: $background-body;

  .logo-header {
    width: 10rem;
    height: auto;
  }
}

.nav-link {
  color: #9eda9a;
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);

  &:hover {
    cursor: pointer;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2.5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 250ms;
  }
}

.navbar-brand {
  color: #9eda9a;
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);
}

body {
  @include background-body (url(/img/fondo2.jpg));
  font-family: $font-body;
}

//FOOTER - PIE DE PAGINA

.footer-pagina {
  color: white;
  background: $background-footer;

  text-align: center;

  padding: 10px;

  @include container-flex (flex,center,column);
  
  .items-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-decoration: none;
    padding: 0;
    list-style: none;

    .items_lista-footer {
      padding: 0.5rem;

        .icon-footer {
          width: 2.3rem;

          &:hover {
            filter: drop-shadow(3px 3px 3px rgba(247, 244, 244, 0.7));
          }
        }
    }
 }
}

.datos-footer {
  @include container-flex(flex,center,column);
   width: 100%;

   h1 {
    font-size: 2rem;
    font-family: $font-title;
   }

   .footer-copyright {
    color: rgba(255, 255, 255, 0.525);
    margin: 0.25rem;
    font-size: 0.6rem;
   }
}