// HEADER - ENCABEZADO
.navbar {
  font-family: $font-title;
  background-image: $background-body;

  .logo-header {
    width: 10rem;
    height: auto;
  }
}

.nav-link {
  color: #9eda9a;
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);

  &:hover {
    cursor: pointer;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2.5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 250ms;
  }
}

.navbar-brand {
  color: #9eda9a;
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);
}

body {
  @include background-body (url(/img/fondo2.jpg))
}