//FOOTER - PIE DE PAGINA

@media screen and (min-width: 992px) {

  .footer-pagina {
    padding: 2rem;

    .items-footer {
      margin: 0;
    }
  }

  .datos-footer>p {
    margin: 0;
  }

  .datos-footer>h1 {
    margin: 0;
  }

}

@media screen and (min-width: 768px) {

  .footer-pagina {
    padding: 1.5rem;
    @include container-flex(flex, center, column);

    .footer-redes {
      width: 60%;
      align-self: center;
    }

    .datos-footer {
      @include container-flex(flex, center, column);
      padding-top: 0.5rem;
    }

  }

  .descripcion-container {
    padding: 0.5rem;

    .texto-descripcion {
      padding: 0;
      width: 90%;
    }
  }

  .carousel {
    width: 80%;
  }

  .collage-container {
    display: flex;
    flex-wrap: wrap;

    .other-item {
      width: 45%;
    }
  }

  .accordion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;

    .accordion-item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .card-video-container {
    @include container-flex(flex, space-around, row);
    align-items: center;

    .card {
      @include container-flex(flex, center, column);

      .card-video-iframe {
        width: 100%;
      }

      .card-body {
        width: 100%;

        h1 {
          font-size: 1.5rem;
          text-align: center;

        }

      }

    }

  }

}


@media screen and (max-width: 375px) {
  .descripcion-container {
    padding: 0.5rem;

    .texto-descripcion {
      padding: 0;
      width: 90%;
    }
  }

  .carousel {
    width: 95%;
  }

  .formulario-container {
    margin: 1rem;

    label,
    legend {
      display: block;
      margin: 0.3rem;
      padding: 0.3rem;
      font-size: 1.1rem;
    }

    .input-padron {
      width: 95%;
    }
  }

  .enviar {
    width: 80%;
    padding: 0.3rem;
  }

  .other-item {
    display: none;
  }

  .table-container {
    display: none;
  }

  .footer-pagina {
    @include container-flex(flex, center, column);
    padding: 0.3rem;


    .datos-footer {
      @include container-flex(flex, center, column);
    }
  }

  .accordion {
    @include container-flex(flex, center, column);
    width: 80%;

    .accordion-item {
      margin: 1rem;
      width: 100%;
      height: auto;
    }
  }

  .card-video-container {
    @include container-flex(flex, center, column);
    align-items: center;

    .card {
      @include container-flex(flex, center, column);

      .card-video-iframe {
        width: 100%;
      }

      .card-body {
        width: 100%;

        h1 {
          font-size: 1.5rem;
          text-align: center;

        }

      }

    }

  }


}