/* Variables fuentes */

$font-title: 'Bebas Neue', cursive;
$font-body:'Abel', sans-serif;

$background-body: linear-gradient(to top right, #7eef9e, #007652, #006869, #00586a, #2f4858);

$background-footer: linear-gradient(180deg, rgba(127, 191, 109, 1) 0%, rgba(49, 97, 66, 1) 42%, rgba(21, 51, 28, 0.855) 97%);

/* Mixins */

@mixin container-flex ($display, $justify, $flex-dir){
  display: $display;
  justify-content: $justify;
  flex-direction: $flex-dir;
}

@mixin background-body ($url-img){
  background-image: $url-img;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@mixin title-principal {
  font-size: 2.5rem;
  color: rgba(240, 248, 255, 0.854);
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);
  margin: 1rem 0.5rem;
  font-family: var(--fuente-title);
  text-align: center;
}

@mixin subtitle {
  font-size: 2rem;
  color: aliceblue;
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);
  margin: 1rem 0.5rem;
  font-family: var(--fuente-title);
  text-align: center;
}


