html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

/* Variables fuentes */
/*Fondos */
/* Mixins */
.navbar {
  font-family: "Bebas Neue", cursive;
  background-image: linear-gradient(to top right, #7eef9e, #007652, #006869, #00586a, #2f4858); }
  .navbar .logo-header {
    width: 10rem;
    height: auto; }

.nav-link {
  color: #9eda9a;
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849); }
  .nav-link:hover {
    cursor: pointer;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2.5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 250ms; }

.navbar-brand {
  color: #9eda9a;
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849); }

body {
  background-image: url(/img/fondo2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Abel", sans-serif;
  font-size: 1.1rem; }

.footer-pagina {
  width: 100%;
  color: white;
  background: linear-gradient(180deg, #7fbf6d 0%, #316142 42%, rgba(21, 51, 28, 0.855) 97%);
  text-align: center;
  padding: 10px;
  margin-top: 1rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .footer-pagina .items-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-decoration: none;
    padding: 0;
    list-style: none; }
    .footer-pagina .items-footer .items_lista-footer {
      padding: 0.5rem; }
      .footer-pagina .items-footer .items_lista-footer .icon-footer {
        width: 2.3rem; }
        .footer-pagina .items-footer .items_lista-footer .icon-footer:hover {
          filter: drop-shadow(3px 3px 3px rgba(247, 244, 244, 0.7)); }

.datos-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }
  .datos-footer h1 {
    font-size: 2rem;
    font-family: "Bebas Neue", cursive; }
  .datos-footer .footer-copyright {
    color: rgba(255, 255, 255, 0.525);
    margin: 0.25rem;
    font-size: 0.6rem; }

.descripcion-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0.2rem; }
  .descripcion-container .title-principal {
    font-size: 2.5rem;
    color: rgba(240, 248, 255, 0.854);
    text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);
    margin: 1rem 0.5rem;
    font-family: "Bebas Neue", cursive;
    text-align: center;
    margin: 1rem 0rem 0.3rem 0; }
  .descripcion-container .descripcion-eslogan {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-style: italic;
    width: 100%;
    color: #9eda9a; }
  .descripcion-container .texto-descripcion {
    width: 65%;
    padding: 0 3rem;
    color: white; }

.carousel-container {
  position: relative; }
  .carousel-container .carousel {
    margin: 1rem;
    width: 80%; }
    .carousel-container .carousel .carousel-caption {
      padding: 0.8rem;
      background: rgba(67, 198, 141, 0.45);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(67, 198, 141, 0.3); }
      .carousel-container .carousel .carousel-caption .carousel-caption-title {
        color: black; }
      .carousel-container .carousel .carousel-caption p {
        color: white;
        font-size: 1.1rem; }

.title-principal {
  font-size: 2.5rem;
  color: rgba(240, 248, 255, 0.854);
  text-shadow: 4px 5px 4px rgba(7, 40, 23, 0.849);
  margin: 1rem 0.5rem;
  font-family: "Bebas Neue", cursive;
  text-align: center; }

.formulario-container {
  padding: 1.2rem;
  margin: 1.2rem;
  background: rgba(117, 247, 132, 0.511);
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(14, 49, 8, 0.806);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  margin: 3rem; }
  .formulario-container .input-padron {
    display: block;
    margin: 0.5rem;
    padding: 0.6rem;
    width: 70%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.6); }
  .formulario-container label,
  .formulario-container legend {
    display: block;
    font-size: 1.5rem;
    margin: 10px;
    padding: 5px; }
  .formulario-container .opciones-informacion {
    padding: 0.5rem;
    margin: 0.3rem; }
  .formulario-container .checkbox {
    margin: 20px 5px; }
  .formulario-container .enviar {
    width: 50%;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border: none;
    background: #007652;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer; }
    .formulario-container .enviar:hover {
      background: #00586a;
      transform: scale(1.1);
      box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.6); }

.implement-container .implement-descripcion {
  margin: 1rem; }
  .implement-container .implement-descripcion .implement-text {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 1rem;
    vertical-align: center; }
    .implement-container .implement-descripcion .implement-text p {
      font-size: 1.2rem; }

.implement-container .implement-img {
  width: 100%;
  box-shadow: var(--sombra-img);
  border-radius: 0px 20px 0px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5); }
  .implement-container .implement-img:hover {
    transition: 350ms;
    box-shadow: -1px -1px 12px 2px rgba(255, 255, 255, 0.51);
    scale: 1.01; }

.col {
  padding: 0.5rem; }

.card .card-img-top {
  height: 286px; }

.card .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .card .card-body .card-title {
    font-weight: bold;
    margin-left: 0.5rem; }
    .card .card-body .card-title .card-text {
      padding: 0.5rem; }
      .card .card-body .card-title .card-text .btn {
        width: auto; }

@media screen and (min-width: 992px) {
  .footer-pagina {
    padding: 2rem; }
    .footer-pagina .items-footer {
      margin: 0; }
  .datos-footer > p {
    margin: 0; }
  .datos-footer > h1 {
    margin: 0; } }

@media screen and (min-width: 768px) {
  .footer-pagina {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1.5rem; }
    .footer-pagina .footer-redes {
      display: flex;
      align-items: center; }
      .footer-pagina .footer-redes .items-footer {
        display: flex;
        justify-content: flex-start; }
        .footer-pagina .footer-redes .items-footer .icon-footer {
          width: 3rem; }
  .descripcion-container {
    padding: 0.5rem; }
    .descripcion-container .texto-descripcion {
      padding: 0;
      width: 90%; }
  .carousel {
    width: 80%; } }

@media screen and (max-width: 375px) {
  .descripcion-container {
    padding: 0.5rem; }
    .descripcion-container .texto-descripcion {
      padding: 0;
      width: 90%; }
  .carousel {
    width: 95%; }
  .formulario-container {
    margin: 1rem; }
    .formulario-container label,
    .formulario-container legend {
      display: block;
      margin: 0.3rem;
      padding: 0.3rem;
      font-size: 1.1rem; }
    .formulario-container .input-padron {
      width: 95%; }
  .enviar {
    width: 80%;
    padding: 0.3rem; } }
