
/* !ENTRENAMIENTOS */

.video-container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 1.5rem;
}

.video-entrenamientos {
   margin: 0.5rem;
}

section .video-enlace {
   box-shadow: 1px 3px 10px  rgba(255, 255, 255, 0.5);
   border-radius: 0.5rem;
   width: 100%;
}

.video-enlace:hover {
   transition: 100ms;
   box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.6);
   cursor: pointer;
}


/* ?RESPONSIVE */

@media screen and (max-width: 768px) {
   .video-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
   }

   .video-entrenamientos {
      width: 75%;
   }
}

@media screen and (max-width: 375px) {

   .video-entrenamientos {
      width: 100%;
   }
}