/* :root {
   --sombra-img: 3px 3px 10px 5px gray;
} */

/* !IMPLEMENTOS DEPORTIVOS */

/* .implement-descripcion {
   margin: 1rem;
} */

/* .implement-img {
   width: 100%;
   box-shadow: var(--sombra-img);

   border-radius: 0px 20px 0px 20px;
   border: 1px solid rgba(255, 255, 255, 0.5);
}

.implement-img:hover {
   transition: 350ms;
   box-shadow: -1px -1px 12px 2px rgba(255, 255, 255,0.51);
   scale: 1.01;
   } */

/* .implement-text {
   background: rgba(255, 255, 255, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);

   text-align:center;
   padding: 1rem;
   vertical-align: center;
} */

/* .implement-text p{
   font-size: 1.2rem;
} */

/* !REFERENCIAS CARDS */

/* .card-body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
} */
/* .card-img-top {
   height: 286px;
}

.col {
   padding: 0.5rem;
} */

/* .card-title {
   font-weight: bold;
   margin-left: 0.5rem;
} */

/* .card-text {
   padding: 0.5rem;
} */

/* .btn {
   width: auto;
} */

